body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e8ff84;
    margin: 0;
    padding: 0;
    color: #9ac7b4;
}

header {
    background-color: #87f1f1;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #d894ba;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    margin: 0 auto;
    max-width: 900px;
}

section {
    margin-bottom: 20px;
}

